/* You can add global styles to this file, and also import other style files */
body{
    padding: 10px;
    background-color: #152733;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    color: aliceblue;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: bold;
    /* Add any other font-related properties here */
  }
