<div class="container indexContainer">
    <img src="../assets/insurance.jpg" alt="not found" />
    <p class="lead">We strive to provide efficient and effective policy management solutions to meet your insurance needs. Our web page offers a comprehensive set of features and tools to streamline the process of managing your policies. Whether you are an individual policyholder or a business entity, our platform is designed to simplify policy management and enhance your overall experience.</p>
  </div>
  <br>
  <br>
  <div class="container">
    <h1>Key Features of Our Policy Management Web Page:</h1>
    <br>
  </div>
  <div class=" keyContainer">
    <div class="section box">
      <h2>Policy Management</h2>
      <p>This module is primarily used by the customers of the portal to manage their profiles. It allows the following operations.Customers will be able to create a new profile for themselves Customers can register their nominees into the system Customers can also remove a particular nominee added earlier.</p>
    </div>
  
    <div class="section box">
      <h2>Policy Plan</h2>
      <p>This module will be used for managing policies and the subscriptions to the policies by the customers and policy managers to perform the following tasks. Policy managers can create new policy plans in the system. Customers and policy managers can search the existing policies available. A customer will be able to subscribe to a policy of their choosing.</p>
    </div>
  
    <div class="section box">
      <h2>Premium Management</h2>
      <p>The policy holder and policy managers can work with the premium amount of the policies subscribed by them. The module allows the following operations. The customers can pay the montly premium for their policies. Customers can also view the history of their premium payments. Policy managers can view the due premium for the current month.</p>
    </div>
  
    <div class="section box">
      <h2>Claims Management</h2>
      <p>The policy owners will be able to work with the claims against their policies using this module. Following are the task this module supports. The customers can raise a new claim request. Policy managers will be able to view all the new claim requests. The policy managers will be able to process a claim request.</p>
    </div>
  </div>


  <footer class="footer foot">
    <div class="social-icons">
        Connect us: 
      <a href="#" class="social-icon">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="#" class="social-icon">
        <i class="fab fa-twitter"></i>
      </a>
    </div>
  </footer>
  
  
