.navbar {
    background-color: #f8f9fa; 
}

.navbar-nav .nav-link {
    color: #333; 
    font-weight: bold; 
    padding: 0.5rem 1rem; 
    transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #007bff; 
}

.body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}