

<div class="text-center justify-content-center">
  <h1><header>Welcome to Policy Management system</header></h1>
</div>
<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="/" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a routerLink="/paymentform" class="nav-link">Payment Form</a>
    </li>
    <li class="nav-item">
      <a routerLink="/premium-history" class="nav-link">Premium History</a>
    </li>
    <li class="nav-item">
      <a routerLink="/premium-due" class="nav-link">Premium Due</a>
    </li>
  </ul>
</nav>
<br>

<router-outlet></router-outlet>
